body {
    padding-bottom:2%;
}

#left-sidebar {
    position: fixed;
    z-index: 1;
    height:100%;
    width: 30%;
    transition: all 500ms;
    left: -28%;
    overflow: hidden;
}

#left-sidebar.active {
    left:0px;
    z-index: 99;
}

#left-sidebar-btn {
    position: absolute;
    right:0px;
}

.left-sidebar-func-title {
    word-wrap:break-word;
}

#main-content {
    margin-left: 0%;
    transition: all 500ms;
}

#main-content.test {
    margin-left: 0%;
}

#pageLink {
    display: block;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.search-bar {
    margin-left: 5px;
}